html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, #D1FAFF, #1a67da);
    font-family: Roboto Slab, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    background: #152651;
}

nav a {
    padding: 1rem;

    font-size: 32px;
    color: white;
    text-decoration: none;
}

.navbar-pages {
    display: flex;
    gap: 1rem;
}

.navbar-title {
    font-size: 42px;
}
