/* || VARIABLES */
:root {
    --blue: #152651;
}


/* || CSS RESET */
html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #001321, #1a0021);
    /* Free SVG Backgrounds and Patterns by SVGBackgrounds.com */
    background-image: url(images/sun-tornado.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto Slab, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}


/* || GENERAL UTILITY */
.bold {
    font-weight: bold;
}

.hidden {
    opacity: 0;
    transform: scale(0);
}

.popout {
    opacity: 0;
    transform: scale(0);
}

.popout-animation {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

@keyframes popout {
    from {
        transform: scale(0)
    }

    80% {
        transform: scale(1.05)
    }

    to {
        transform: scale(1)
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(0)
    }

    80% {
        -webkit-transform: scale(1.05)
    }

    to {
        -webkit-transform: scale(1)
    }
}

.segment {
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

.segment h1 {
    margin-top: 4rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(3, 3, 0, 0.35);
}


/* || Navbar */
header {
    align-self: flex-start;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background: var(--blue);
    box-shadow: rgba(0, 0, 0, 0.25) 0.5px 0.5px 0.5px;
}

.navbar a {
    position: relative;
    margin: 0.5rem;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a::before,
.navbar a::after {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.navbar a::before {
    content: "<";
    left: -1ch;
    transform: translateX(-5px);
}

.navbar a::after {
    content: "/>";
    right: -1ch;
    transform: translateX(5px);
}

.navbar a:hover::before,
.navbar a:hover::after {
    opacity: 1;
}

.navbar-title {
    margin-left: 2rem;
    font-size: 32px;
}

.menu-toggle {
    display: none;
    margin: 1rem;
    padding: 0;
    background: none;
    box-shadow: none;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-pages {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-pages.active {
        display: flex;
        background-color: #223b79;
    }
}


/* || Introduction */
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 5rem;
    text-shadow: 2px 2px 1px rgba(3, 3, 0, 0.35)
}

.intro-portrait {
    width: 400px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.25);
}

@media (max-width: 768px) {
    .intro-portrait {
        width: auto;
    }
}

.intro-container {
    margin: auto;
    padding: 2rem;
}

.intro-socials {
    display: flex;
    margin-top: 2rem;
}

.intro-socials img {
    -webkit-transform: scale(1);
}

.intro-socials img:hover {
    -webkit-transform: scale(1.2);
}

.intro-socials a+a {
    margin-left: 2rem;
}

.intro-text {
    text-wrap: wrap;
}

.intro-name {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}


/* || About */
.about-text {
    max-width: 90%;
    margin: auto;
    text-shadow: 2px 2px 1px rgba(3, 3, 0, 0.35)
}


/* || Projects */
.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 2rem;
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: rotate(1deg) scale(1.02);
}

.project-thumbnail img {
    width: 320px;
    border-radius: 1rem;
}

.project-thumbnail:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .project {
        margin: 1rem;
        padding: 1rem;
    }
}

.project-stack {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    height: 100%;
}

.tech-tag {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
}

.tech-blender {
    background: #1fba62;
}

.tech-csharp {
    background: #5934d6;
}

.tech-flask {
    background: #3aa9bf;
}

.tech-java {
    background: #ec2025;
}

.tech-js {
    background: #f7de1f;
}

.tech-photoshop {
    background: #b42ba4;
}

.tech-python {
    background: #346c99;
}

.tech-spigot {
    background: #ed8b1c;
}

.tech-sqlite {
    background: #1d947e;
}

.tech-tkinter {
    background: #808080;
}

.tech-unity {
    background: #1c1c1c;
}

.tech-web {
    background: #e44d26;
}


/* || Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-set {
    max-width: 90%;
    width: 600px;
    margin: auto;
    padding: 1rem;
}

.skill {
    margin-bottom: 2rem;
}

.skill label {
    display: block;
    margin-bottom: 0.3rem;
    text-shadow: 2px 2px 1px rgba(3, 3, 0, 0.35)
}

.bar {
    position: relative;
    right: 10px;
    width: 100%;
    height: 2rem;
    scale: 97%;
    overflow: hidden;
    background: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;
    transition: transform 0.3s ease;
    will-change: transform;
}

.bar:hover {
    scale: 100%;
}

.fill {
    width: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, var(--blue), rgb(32, 101, 190));
    transition: width 1s ease-out;
}

.bar:hover .fill::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -50%;
    }

    100% {
        left: 100%;
    }
}


/* || Interests */
.interests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.flip-card {
    aspect-ratio: 2/3;
    width: 320px;
    margin: 2rem;
    perspective: 800px;
}

.flip-card-frame {
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.flip-card:hover>.flip-card-frame {
    cursor: pointer;
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.25);
}

.flip-card-back {
    box-sizing: border-box;
    padding: 2rem;
    background-color: #3a3a3a;
    font-size: 1.2rem;
    transform: rotateY(180deg);
}

.flip-card-back p {
    line-height: 1.7;
    word-wrap: break-word;
}

.flip-card-frame,
.flip-card-front,
.flip-card-back,
.flip-card-front>img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .flip-card {
        margin: 1rem;
    }

    .flip-card-back {
        padding: 1rem;
        line-height: 1.5;
        font-size: 1rem;
    }
}


/* || Contact */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 40rem;
    margin: auto;
    padding: 2rem;
    background: #618de7;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
}

input,
textarea {
    margin: 1rem 0;
    padding: 6px 12px;
    border: none;
    border-radius: 0.5rem;
    font-family: Roboto Slab, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

button {
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    background: var(--blue);
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    color: white;
    font-family: Roboto Slab, sans-serif;
    font-size: 18px;
}

button:hover {
    background: #223d80;
}

@media (max-width: 425px) {
    .contact-form {
        padding: 1rem;
    }
}