/* || Variables */
:root {
  /* Theme colors */
  --blue: #152651;
}


/* || CSS Reset */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, #D1FAFF, #1a67da);
    font-family: Roboto Slab, sans-serif;
}


/* || General Utility */
.bold {
    font-weight: bold;
}

.container {
    margin: 2rem;
}


/* || Info Panel */
.icon-label {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.info-personal {
    margin: 3rem 1rem;
}

.info-panel {
    display: flex;
    width: fit-content;
    max-width: 1500px;
    margin: 5rem auto;
    padding: 2rem;

    background: white;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info-portrait {
    width: 400px;
    border-radius: 0.5rem;
 }

.info-text span {
    color: var(--blue);
    font-size: 3rem;
}

.info-skills {
    margin-top: 2rem;
}

.skill-bar {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.skill-bar progress {
    width: 75%;
    background: white;
}

.skill-bar progress::-webkit-progress-bar {
    background: lightgray;
    border-radius: 1rem;
}

.skill-bar progress::-webkit-progress-value {
    background: var(--blue);
    border-radius: 1rem;
}


/* || Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    background: var(--blue);
    box-shadow: darkgray 0.5px 0.5px 0.5px;
}

nav a {
    padding: 1rem;

    font-size: 32px;
    color: white;
    text-decoration: none;
}

.navbar-pages {
    display: flex;
    gap: 1rem;
}

.navbar-title {
    font-size: 42px;
}
